
/*no bulets*/
ul{
    list-style-type:none;
}
/*no text decor*/
a{
    text-decoration: none;
}
.container{
    width: 1200px;
    margin: 0% auto;
    padding: 0 15px;
}
/*colors*/
:root{
   --primary-text-color: #757575;
   --secondary-text-color:rgba(255, 255, 255, 0.6);
   --tytle-text-color: #212121;
   --accent-color: #2196F3;
   --primary-white-color:#ffffff;

}
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
/*body*/
body{
    margin: 0%;

    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03;
}
/*logo and header*/
.nav-flex{
    display: flex;
    align-items: center;

}
.logo{
    padding: 24px 0 25px 0;

    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
}
.nav{
    display: flex;
    margin: 0;
}
.nav,
.nav p{
padding: 0;
}

.logo-scdw{
    padding: 24px 0 25px 0;

    color: var(--tytle-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
}
.logo-scdw-foot{
    color: var(--primary-white-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.links-nav{
    padding: 20px 0px;

    color: var(--tytle-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav li{
    margin-right: 50px;
}
.nav li:last-child{
    margin-right: 0%;
}

.links-nav:hover,
.links-nav:focus{
color: var(--accent-color);
}
.links-nav:active{
    color: var(--accent-color);

}

.current-nav{
    color: var(--accent-color);
}
.contacts{
    padding: 32px 0 32px 0;

    margin-left: auto;
    color: var(--primary-text-color);

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contacts .contacts + .contacts{
    margin-left: 50px;
}
.hero{
    text-align: center;
}

.logo-mar > a{
    margin-right: 90px;
}
.nav-flex{
    border-bottom: 1px solid #ECECEC;;
}
/*buttons*/
.buttons{
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 5px 20px;
    text-align: center;

    color: var(--tytle-text-color);
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.62;
    cursor: pointer;
    margin: 0%;
}
.button{
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 30px;
    text-align: center;

    color: var(--tytle-text-color);
    background-color: var(--primary-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
    margin: 0%;

}

.button:hover,
.buttons:hover{
color: var(--primary-white-color);
background-color: var(--accent-color);


}
.button:focus,
.buttons:focus
{
color: var(--primary-white-color);
background-color: var(--accent-color);

}
.section{
    padding: 94px 0;
}
/*Hero*/
.tytle-a{
background-color: #212121;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0%;
    padding: 0%;
}
/*1 section*/
.need-to-hide{
    display: none;
    background-color: #212121;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}
.about-us-main{
    display: flex;
}
.about-us-space{
    margin-right: 30px;
}
.about-us-space:last-child{
    margin-right: 0%;
}
.about-us-space p{
    margin: 0;
}
.about-us{
    margin: 0%;
    margin-bottom: 10px;


    color: var(--tytle-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
/*2 section*/
.our-work{
    color: var(--tytle-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

}
.our-work-mar{
    margin: 50px 0 0 0;
    padding: 0%;
    display: flex;
}
.our-work-examp{
    margin-right: 30px;
}
.our-work-examp:last-child{
    margin-right: 0%;
}
/*3 section*/
.last-section{
    background-color: #F5F4FA;
}
.our-team{
    margin: 0 0 50px 0;

    color: var(--tytle-text-color);

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.our-team-mar{
    margin: 0%;
    padding: 0%;
    display: flex;
}
.our-team-mar li{
    margin-right: 30px;
}
.our-team-per{
    margin-bottom: 30px;
}
.our-team-mar h3 {
    margin: 0%;
    margin-bottom: 10px;
    padding: 0%; 
}
.our-team-mar p{
    margin: 0%;
    padding: 0%; 
}
.per-name{
    color: var(--tytle-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}
.about-per{
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}
.links-in-our-team{
    border: 1px;
    border-color: transparent;
    background-color: var(--primary-white-color);
    padding-bottom: 30px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
}
.links-in-our-team:last-child{
    margin-right: 0%;
}
/*portfolio*/
.our-projects{
    color: var(--tytle-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

}
.descr-proj{
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}
.scd-pj-list{
    margin: 0%;
    padding: 0 0 94px 0;
}
.scd-pj-list h2, .scd-pj-list p{
    margin: 0%;
}
.buttuns-clas{
    display:inline-flex;
    margin-left: 330px;
    padding-top: 94px;
    padding-bottom: 34px;
}

.buttuns-clas li{
    margin-right: 8px;
    
}
.projects-list{
    display: flex;
    flex-wrap: wrap;
}

.projects-list li{
    margin-right: 30px;
    margin-bottom: 30px;
}

.projects-list li:nth-last-child(-n + 3){
    margin-bottom: 0%;
}
.projects-list li:nth-child(3n){
    margin-right: 0;
}
.projects-list li{
    border-bottom: 1px solid rgba(238, 238, 238, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
/*reactions of contacts*/
.contacts:hover,
.contacts:focus{
color: var(--accent-color);
}
/*footer*/
.foot{
    background-color:#2F303A;
}
.logo-foot{
    padding-top: 60px;
    display: inline-block;
    margin-bottom: 20px;
}
.link-location{
    color: var(--primary-white-color);

    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 2;
}
.contacts-footer{
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
}
.foot-list{
    margin: 0;
    padding: 0 0 60px 0;
   
}